
[class*="col-"]{
	border:2px solid green;
}
.row{
	border:2px solid blue;
	
}
.container{
	border:2px solid purple;
}

.citation{
	height:10%;
}

.info{
	background-color: #ff7a00;
	color: #FFFFFF;
	padding:15px;
	border-radius:1em 0em 1em 0em;
}

.parallaxFjord{
	 /* The image used */
   background:url(../images/Norvege/norvege-Trollfjord-Norway-@Martin-de-Lusenet-1024x689.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding:10% 0;
}

.parallaxNil{
	 /* The image used */
   background:url(../images/Egypte/B_1_philae1.jpg);

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding:10% 0;
}

.parallaxFjord h1, .parallaxNil h1{
	color:white;
	font-style:bold;
	text-align:center;
}